<!-- views/partials/head.ejs -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">

<title>Positive Selection</title>

<!-- CSS (load bootstrap from a CDN) -->
<!-- <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"> -->
<!-- Bootstrap 5 (CSS) -->
<!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous" /> -->
<link rel="stylesheet" href="bootstrap-5.0.2-dist/css/bootstrap.min.css" />
<!-- Font Awesome -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" />
<!-- CSS Projet -->
<link rel="stylesheet" href="css/css_proj.css" />

<!-- JQuery -->
<script src="jquery-3.6.0.min.js"></script>
<!-- Bootstrap 5 (JS) -->
<!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script> -->
<script src="bootstrap-5.0.2-dist/js/bootstrap.bundle.min.js"></script>
<!-- D3 -->
<!-- <script src="https://d3js.org/d3.v4.min.js" charset="utf-8"></script> -->
<script src="d3.js" charset="utf-8"></script>
