<!-- 

Modified by Genna BEN HASSEN, Camille SIHARATH and Grégoire ALIZADEH NOIRET, 16 December 2021
Modified by Grégoire ALIZADEH NOIRET, 15 March 2023

-->

<nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
        <div class="navbar-header">
            <!-- <a class="navbar-brand" href="/">
                <span class="glyphicon glyphicon glyphicon-tree-deciduous"></span>
            </a> -->
            <!-- <a class="navbar-brand" href="/">Home</a> -->
            <a class="navbar-brand" href="/">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-diagram-3-fill" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M6 3.5A1.5 1.5 0 0 1 7.5 2h1A1.5 1.5 0 0 1 10 3.5v1A1.5 1.5 0 0 1 8.5 6v1H14a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-1 0V8h-5v.5a.5.5 0 0 1-1 0V8h-5v.5a.5.5 0 0 1-1 0v-1A.5.5 0 0 1 2 7h5.5V6A1.5 1.5 0 0 1 6 4.5v-1zm-6 8A1.5 1.5 0 0 1 1.5 10h1A1.5 1.5 0 0 1 4 11.5v1A1.5 1.5 0 0 1 2.5 14h-1A1.5 1.5 0 0 1 0 12.5v-1zm6 0A1.5 1.5 0 0 1 7.5 10h1a1.5 1.5 0 0 1 1.5 1.5v1A1.5 1.5 0 0 1 8.5 14h-1A1.5 1.5 0 0 1 6 12.5v-1zm6 0a1.5 1.5 0 0 1 1.5-1.5h1a1.5 1.5 0 0 1 1.5 1.5v1a1.5 1.5 0 0 1-1.5 1.5h-1a1.5 1.5 0 0 1-1.5-1.5v-1z"/>
              </svg>
              <!-- <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-earmark-arrow-up" viewBox="0 0 16 16">
                <path d="M8.5 11.5a.5.5 0 0 1-1 0V7.707L6.354 8.854a.5.5 0 1 1-.708-.708l2-2a.5.5 0 0 1 .708 0l2 2a.5.5 0 0 1-.708.708L8.5 7.707V11.5z"/>
                <path d="M14 14V4.5L9.5 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2zM9.5 3A1.5 1.5 0 0 0 11 4.5h2V14a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h5.5v2z"/>
              </svg> -->
            </a>

            <!-- <ul class="nav navbar-nav">
                            <li><a href="/display">Display</a></li>
            </ul> -->

            Web interface for Branch Site Statistics
        </div>
    </div>
</nav>
<!-- Bouton Action -->
<div id="action" class="dropdown">
  <button class="btn dropdown-toggle btn-sm btn-outline-secondary" type="button" data-bs-toggle="dropdown" aria-expanded="false" title="Choose action on node">
    On click
  </button>
  <ul class="dropdown-menu" aria-labelledby="action">
    <li><a id="branch-res" class="dropdown-item" href="#">View Branch Results</a></li>
    <li><a id="switch" class="dropdown-item" href="#">Switch children</a></li>
    <li><a id="collapse" class="dropdown-item" href="#">Collapse/Expand</a></li>
    <li><a id="subtree" class="dropdown-item" href="#">Sub Tree/Upper Tree</a></li>
  </ul>
</div>
<!-- Bouton Expand -->
<div class="btn-group" role="group" aria-label="">
  <button id="globalexpand" class="btn btn-sm btn-outline-secondary" type="button" aria-label="Expand" data-toggle="tooltip" data-placement="top" title="Expand the tree (takes time on big trees!)">
    <span>Expand tree</span>
  </button>
</div>
<!-- Boutons Width / Height -->
<div class="btn-group" role="group" aria-label="Tree size buttons">
  <div class="btn-group" role="group" aria-label="Width buttons">
    <!-- Bouton Reduce width -->
    <button id="lessWidth" class="btn btn-sm btn-outline-secondary" type="button" aria-label="Less width" data-toggle="tooltip" data-placement="top" title="Reduce tree width">
      <span>Width -</span>
      <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
    </button>
    <!-- Bouton Increase width -->
    <button id="moreWidth" class="btn btn-sm btn-outline-secondary" type="button" aria-label="More width" data-toggle="tooltip" data-placement="top" title="Increase tree width">
      <span>Width +</span>
      <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
    </button>
    <!-- Bouton Increase width -->
    <button id="loga" class="btn btn-sm btn-outline-secondary" type="button" aria-label="Logarithmic scale" data-toggle="tooltip" data-placement="top" title="Logarithmic scale">
      <span>Logarithmic</span>
      <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
    </button>          
  </div>
  <div class="btn-group" role="group" aria-label="Height buttons">
    <!-- Bouton Reduce height -->
    <button id="lessHeigth" class="btn btn-sm btn-outline-secondary" type="button" aria-label="Left Align" data-toggle="tooltip" data-placement="top" title="Reduce tree height">
      <span>Height -</span>
      <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
    </button>
    <!-- Bouton Increase height -->
    <button id="moreHeigth" class="btn btn-sm btn-outline-secondary" type="button" aria-label="Left Align" data-toggle="tooltip" data-placement="top" title="Increase tree height">
      <span>Height +</span>
      <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
    </button>
  </div>
</div>
<!-- Bouton Alignement -->
<div id="alignment-type" class="dropdown">
  <button class="btn dropdown-toggle btn-sm btn-outline-secondary" type="button" data-bs-toggle="dropdown" aria-expanded="false" title="Choose alignment type">
    Alignment type
  </button>
  <ul class="dropdown-menu" aria-labelledby="alignment-type">
    <li><a id="aminoacid-display" class="dropdown-item" href="#">Amino Acids</a></li>
    <li><a id="codons-display" class="dropdown-item" href="#">Codons</a></li>
  </ul>
</div>
<div class="btn-group" role="group" aria-label="Redundance">
  <!-- Bouton redondance -->
  <button id="redondance" class="btn btn-sm btn-outline-secondary" type="button" aria-label="Redundancy" data-toggle="tooltip" data-placement="top" title="Reduce tree height">
    <span>Redundancy</span>
  </button>
</div>
<!-- Bouton Export -->
<div id="export" class="dropdown">
  <button class="btn dropdown-toggle btn-sm btn-outline-secondary" type="button" data-bs-toggle="dropdown" aria-expanded="false" title="Choose Export">
    Export
  </button>
  <ul class="dropdown-menu" aria-labelledby="export">
    <li><a id="tree" class="dropdown-item" href="#">Tree</a></li>
    <li><a id="selecp" class="dropdown-item" href="#">Alignment</a></li>
  </ul>
</div>
<!-- Champs Seuils sup. et inf. -->
<div id="thresholds-group" class="btn-group" role="group" aria-label="">
  <button class="btn btn-sm btn-outline-secondary">
    <div class="input-group align-items-center">
      <label for="ps-threshold-low">Thresholds</label>
      <input id="ps-threshold-low"  placeholder="PS Threshold" value="0.9" style="width: 5em;"/>
      <input id="ps-threshold-high" placeholder="PS Threshold" value="1.0" style="width: 5em;"/>
    </div>
  </button>
  <div>
    <div class="input-group">
      <input type="radio" class="btn-check" name="selectedThreshold" id="lowerSelected" value="lowerSelected">
      <label class="btn btn-outline-secondary" for="lowerSelected" style="margin-left: 0.5rem;"><</label>
      <input type="radio" class="btn-check" name="selectedThreshold" id="upperSelected" value="upperSelected" checked>
      <label class="btn btn-outline-secondary" for="upperSelected" style="margin-left: -0.25rem;">></label>
    </div>
  </div>
</div>
