/*

Modified by Genna BEN HASSEN, Camille SIHARATH and Grégoire ALIZADEH NOIRET, 16 December 2021
Modified by Grégoire ALIZADEH NOIRET, 15 March 2023

*/

/* <style> index.ejs */
.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}


body {
  padding-top: 0rem;
  padding-bottom: 3rem;
  color: #5a5a5a;
}

footer {
  padding-top: 1rem;
  padding-bottom: 3rem;
}


h1{
    padding-bottom: 0px;
}

h2{
  font-weight: 300;
  padding-bottom: 30px;
}

h5{
    color: #708090;
}

.Option{
  text-decoration:none;
  padding: 5px 0px;
  padding-bottom: 1px;
  text-align: center;
}

.Option:after {
  content: '';
  display: block;
  margin: auto;
  height: 1px;
  width: 0;
  background: transparent;
  transition: width .5s ease, background-color .5s ease;
}

.Option:hover:after {
  width: 90%;
  background: lightgrey;
}




.featurette-divider {
  padding-bottom: 2rem;
}

.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -.05rem;
}
.featurette {
  padding-left: 5rem;
}



@media (min-width: 40em) {
  .featurette-heading {
    font-size: 40px;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 10rem;
  }
}

p {
  margin-top: 0;
  margin-bottom: 0;
}

#options{
  padding-bottom: 10px;
}


.form-mod {
  margin: 0 auto;
  margin-top: 40px;
  margin-bottom: 40px;
  width: 250px; 
}

input[type="checkbox"], input[type="radio"] {
  cursor: pointer;
}

.inputfile {
  font-size: 1em;
  font-weight: 700;
  border-radius : 10px;
  display: inline-block;
  cursor: pointer;
}

/* .input-group {
  z-index: 0;
} */

/* h1.main-title {
  background: #F00;
  z-index: 10000000000;
} */


nav label {
  font-weight: 400;
  margin: 0 10px;
}

form {
  border: 1px solid black;
  padding: 1rem;
}


/* <style> displaytree.ejs */

.aa_rect {
  .border-top-width: 0;
  .border-bottom-width: 10px;

}
.node {
  cursor: pointer;
}
.block {
  cursor: pointer;
}
.cblock {
  cursor: none;
}
.slink {
  stroke: red;
  stroke-width: 10px;
  opacity: 0.3;
  fill: none;
}
.internal {
    font: 10px sans-serif;
}
div.tooltip {
  position: absolute;
  text-align: center;
  width:auto;
  height: auto;
  padding: 10px;
  font: 16px sans-serif;
  background: lightsteelblue;
  border: 10px;
  border-radius: 8px;
  pointer-events: none;
}
div.legend {
  position: absolute;
  text-align: left;
  width: 450px;
  height: 28px;
  padding: 2px;
  font: 24px sans-serif;
  border: 0px;
  border-radius: 8px;
  pointer-events: none;
}
div.dblegend {
  position: absolute;
  text-align: left;
  padding: 2px;
  font: 12px sans-serif;
  border: 2px;
  border-radius: 1px;
  pointer-events: none;
}
div.testnav {
  position: sticky;
  text-align: left;
  top:150px;
  left:50px;
  width: 250px;
  height: 28px;
  padding: 2px;
  font: 12px sans-serif;
  border: 0px;
  border-radius: 8px;
}
.testnav  a:hover {color:red;}
div.demo {
  margin-top: 150px;
  position: relative;
  width: 100%;
  min-height: 100%;
  overflow-y: visible;
  overflow-x: hidden;
}
.dropdown-menu {
  height: auto;
  max-height: 200px;
  overflow-x: hidden;
}
.node.seqblock {
  cursor: default;
}
.seqblock text {
  font-family: 'Courier';
  font-size: 16px;
}
.seqblock g text {
  color: #000;
  cursor: text;
  font-family: 'Courier';
  font-size: 16.667px;
  letter-spacing: calc(12px - 10px);
}

#svg-container {
  margin-top: 104px;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  
  background: #FFF;
}
main {
  margin-top: calc(80px + 62px);
  /* margin-top: 80px; */
}

/* header button, header input {
  height: 100%;
} */

/* Bootstrap 5 */

.btn-light:hover {
  background-color: #ddd;
  border-color: #ddd;
}
/* .form-check-input:checked {
  background-color: var(--bs-gray);
  border-color: var(--bs-gray);
} */
::selection {
  /* color: red; */
  background-color: bisque;
  border-color: bisque;
}
a {
  text-decoration: none;
}

.custom-file-input {
  min-height: 75px;
}
